<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= developer.display_name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Exit Tickets</h4>
      <%= render "/exit_tickets/form_table", tickets: developer.exit_tickets, link: true %>
    </div>
  </div>
</div>
