<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= developer.display_name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Basic info</h4>
      <% developer.attributes.each_pair do |name, value| %>
        <% next if name == "id" %>
        <% next if name == "application_id" %>
        <p><strong><%= "#{name}:" %></strong>  <%= value %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Exit Tickets</h4>
      <%= render "/exit_tickets/form_table", tickets: developer.exit_tickets, link: true, comments: true %>
    </div>
  </div>
</div>
