<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Import developers
        </div>
        <div class="panel-body">
          <%= form_tag import_developers_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= hidden_field_tag :cohort_id, cohort.id %>
            <%= submit_tag "Import" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
