<% content_for :javascripts do %>
  <%= javascript_include_tag 'developers/developers/index' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag(current_user.image, width: 100, style: "display:block;") %>
      <%= @user.display_name %>
    </div>

    <div id="developer_stats" class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Assessments</h3>
        </div>
        <div id="assessments" class="panel-body">
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Attendance</h3>
        </div>
        <div id="attendances" class="panel-body">
        </div>
      </div>
    </div>

  </div>
</div>

<!-- templates -->

<div id="attendances-template" class="template">
  {{#assessments}}
    {{score}}
  {{/assessments}}
</div>
