<% content_for :javascripts do %>
  <%= javascript_include_tag 'developers/developers/index' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag(current_user.image, width: 200) %>
      <%= @user.display_name %>
    </div>

    <div id="developer_stats">
      <div id="assessments">
      </div>
      <br>
      <br>
      <div id="attendances">
      </div>
    </div>

  </div>
</div>
