<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= @user.display_name %>
      <%= image_tag(current_user.image) %>
      <%= @user.full_name %>
    </div>
  </div>
</div>
