<% content_for :javascripts do %>
  <%= javascript_include_tag 'developers/developers/index' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag(current_user.image, width: 200) %>
      <%= @user.display_name %>
    </div>

    <div id="developer_stats" class="col-sm-12">
      <div class="panel panel-default">
        <div id="assessments" class="panel-body">
        </div>
      </div>
      <div id="attendances" class="panel panel-default">
      </div>
    </div>

  </div>
</div>
