<html>
  <head>
    <%= stylesheet_link_tag params[:controller] %> 
  </head>

  <body>
    <div class="jumbotron">
      <div class= "container">
        <div id= "total-donation"></div> 
      </div>
    </div>

    <div id="donation-box"></div>
    
  </body>
</html>
