<html>
  <head>
    <%= stylesheet_link_tag params[:controller] %> 
  </head>

  <body>
    <div id="bash-background">
      <div id= "total-donation"></div> 
      <div id="donation-box"></div>
    </div> 
  </body>
</html>
