<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Import exit tickets
        </div>
        <div class="panel-body">
          <%= form_tag upload_exit_tickets_path, multipart: true do %>
            <%= file_field_tag :file, class: "pull-left" %>
            <%= submit_tag "Import", class: "pull-left" %>
          <% end %>
        </div>
      </div>
    <div class="col-md-12">

    </div>
  </div>
</div>


<h3>Quantitative Exit Ticket Data over Date Range (selected below)</h3> <br>
<!-- form for selecting date range -->
<!-- backup: date picker for chart range. this breaks in IE -->
<form action="" method="get">
	Starting Date:
	<input type="date" name="startDate" value=""  onChange="startRange(this.form)">
	Ending Date:
	<input type="date" name="endDate" value=""  onChange="endRange(this.form)">
</form>
<hr>
	
	
<!-- div for accuracy and completion data, added Veena 20150810 -->
<div id="stats">
	Accuracy over Range: <p style="display:inline" id="accuracy"></p>% 
	<br>
	Completion over Range: <p style="display:inline" id="completion"></p>%
</div>

	
<!--div for d3 chart, added by Veena 20150808 -->
<% content_for :javascripts do %>
  <%= javascript_include_tag "exit_ticket_graphs" %>
<% end %>
<div id="chart"></div>

<!-- dumb thing doesn't work :( 
<div id="slider1" class="d3-slider d3-slider-horizontal">
</div>
	<link rel="stylesheet" href="/app/assets/stylesheets/d3.slider.css">
-->

