// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.yay {
  color: blue;
}

.success-style {
  color: green;
}

#bash-background {
  background-image: image-url("bash-background.jpg");
  height: 100%;
  margin: 0;
}
