<div class="content">
  <p>
  Hello <%= notification.user.email %>,
  </p>

  <p>
    You're receiving this email because you're in danger of exceeding
    the allowed number of absences for one unit.
  </p>
</div>
