<div class="content">
  <p>
  Hello <%= notification.user.email %>,
  </p>

  <p>
    You're receiving this email because you have exceeded
    the allowed number of absent or late days for one unit.
  </p>
</div>
